{
  "defaultEnv": "local",

  "local": {
    "driver": "pg",
    "host": "DATABASE_HOST",
    "user": "DATABASE_USERNAME",
    "password": "DATABASE_PASSWORD",
    "database": "MAIN_DATABASE_NAME"
  },

  "docker": {
    "driver": "pg",
    "host": {"ENV": "DB_HOST"},
    "user": {"ENV": "DB_USERNAME"},
    "password": {"ENV": "DB_PASSWORD"},
    "database": {"ENV": "DB_NAME"}
  }
}
