doctype html
html
  head
    title Unexpected Error Occurred

    // STYLES
    link(rel="stylesheet", href="/styles/importer.css")
    // STYLES END
  body
    .header
      .navbar.navbar-default(role='navigation')
        .container-fluid
          .navbar-header
            a.pull-left(href='/')
              img.navbar-logo(src='/images/logo.svg')
            a.navbar-brand(href='/') Electron App
          .collapse.navbar-collapse
            ul.nav.navbar-nav
              li
                a(href='/') Home
            auth-toolbar
    .container
      .jumbotron
        h1
          i.fa.fa-ban.red
          |  403
        p.lead
          | Sorry! You don't have access permissions for this page.
        p
          a.btn.btn-default.btn-lg.green(href='/')
            | Take Me To The Homepage
    .container
      .body-content
            .row
              .col-md-6
                h2 What happened?
                p.lead
                  | A 403 error status indicates that you don't have permission to access the file or page. In general, web servers and websites have directories and files that are not open to the public web for security reasons.
              .col-md-6
                h2 What can I do?
                p.lead If you're a site vistor
                p
                  | Please use your browsers back button and check that you're in the right place. If you need immediate assistance, please send us an email instead.
                p.lead If you're the site owner
                p
                  | Please check that you're in the right place and get in touch with your website provider if you believe this to be an error.
