doctype html
html
  head
    title Unexpected Error Occurred

    // STYLES
    link(rel="stylesheet", href="/styles/importer.css")
    // STYLES END
  body
    .header
      .navbar.navbar-default(role='navigation')
        .container-fluid
          .navbar-header
            a.pull-left(href='/')
              img.navbar-logo(src='images/logo.svg')
            a.navbar-brand(href='/') Electron App
          .collapse.navbar-collapse
            ul.nav.navbar-nav
              li
                a(href='/') Home
            auth-toolbar
    .container
      // Jumbotron
      .jumbotron
        h1
          span.glyphicon.glyphicon-fire.red
          |  500 
        p.lead
          | The web server is returning an internal error
          | .
        a.btn.btn-default.btn-lg.text-center(href='javascript:document.location.reload(true);')
          span.green Try This Page Again
    .container
      .body-content
        .row
          .col-md-6
            h2 What happened?
            p.lead
              | A 500 error status implies there is a problem with the web server's software causing it to malfunction.
          .col-md-6
            h2 What can I do?
            p.lead If you're a site vistor
            p
              | Nothing you can do at the moment. If you need immediate assistance, please send us an email instead. We apologize for any inconvenience.
            p.lead If you're the site owner
            p
              | This error can only be fixed by server admins, please contact your website provider.
