doctype html
html
  head
    meta(charset='utf-8')
    title #{process.env.WEBSITE_TITLE || 'Awesome Electron Desktop App'}
    meta(name='description', content='Download the interactive app for doing whatever it does.')
    meta(name='author', content='Arek Sredzki')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    base(href="/")

    // bower:css
    link(rel='stylesheet', href='/bower_components/angular-ui-notification/dist/angular-ui-notification.css')
    link(rel='stylesheet', href='/bower_components/components-font-awesome/css/font-awesome.css')
    // endbower

    // STYLES
    link(rel="stylesheet", href="/min/production.min.css")
    // STYLES END
  body(ng-app='app', ng-controller='MainController as main')
    .header
      .navbar.navbar-default(role='navigation')
        .container-fluid
          .navbar-header
            a.pull-left(href='/')
              img.navbar-logo(src=process.env.WEBSITE_NAV_LOGO || '/images/logo.svg')
            a.navbar-brand(href='/') #{process.env.WEBSITE_APP_TITLE || 'Electron App'}
          .collapse.navbar-collapse
            ul.nav.navbar-nav
              li(ng-class="{ active: isActive('/')}")
                a(href='/') Home
            ul.nav.navbar-nav
              li(ng-class="{ active: isActive('/releases')}")
                a(href='/releases') Download
            auth-toolbar
    .container
      div(ng-view='')
      .footer
        p
          i.fa.fa-fw.fa-code
          |  with
          i.fa.fa-fw.fa-heart
          |  by Arek Sredzki


    // bower:js
    script(src='/bower_components/angular/angular.js')
    script(src='/bower_components/jquery/dist/jquery.js')
    script(src='/bower_components/angular-animate/angular-animate.js')
    script(src='/bower_components/angular-messages/angular-messages.js')
    script(src='/bower_components/angular-route/angular-route.js')
    script(src='/bower_components/angular-sanitize/angular-sanitize.js')
    script(src='/bower_components/angular-xeditable/dist/js/xeditable.min.js')
    script(src='/bower_components/lodash/lodash.js')
    script(src='/bower_components/angular-ui-notification/dist/angular-ui-notification.js')
    script(src='/bower_components/angular-bootstrap/ui-bootstrap-tpls.js')
    script(src='/bower_components/angular-confirm-modal/angular-confirm.min.js')
    script(src='/bower_components/angular-jwt/dist/angular-jwt.js')
    script(src='/bower_components/ngstorage/ngStorage.js')
    script(src='/bower_components/sails.io.js/dist/sails.io.js')
    script(src='/bower_components/angular-sails/dist/angular-sails.js')
    script(src='/bower_components/moment/moment.js')
    script(src='/bower_components/angular-moment/angular-moment.js')
    script(src='/bower_components/ng-file-upload/ng-file-upload.js')
    script(src='/bower_components/angular-PubSub/src/angular-pubsub.js')
    script(src='/bower_components/re-tree/re-tree.js')
    script(src='/bower_components/ng-device-detector/ng-device-detector.js')
    script(src='/bower_components/compare-versions/index.js')
    // endbower

    // SCRIPTS
    script(src="/min/production.min.js")
    // SCRIPTS END
