$icon-font-path: '../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/';

// Override the default flatly brand colour
$brand-primary: #088dd9 !default;
$brand-danger: $brand-primary !default;
$navbar-default-link-hover-color: #ccc !default;
$border-radius-base: 0 !default;
$border-radius-large: 0 !default;
$border-radius-small: 0 !default;
