.row
  .text-center
    h2 Download our Electron App
    .jumbotron
      div(ng-if="DataService.data.length")
        p
          a.btn.btn-success.btn-lg(target="_self" ng-href="/download")
            i.fa.fa-download.fa-5x
        h6.text-gray Latest available version is: {{ DataService.data[0].name }}  
      div(ng-if="!DataService.data.length")
        h5.text-gray There are no releases available for download.
