.row.text-center
  .col-md-12
    h2 Our Amazing Electron App
      
.row.text-center.padding-20-0
  .col-md-4
    i.fa.fa-5x.fa-diamond
    h3 Polished
  .col-md-4
    i.fa.fa-5x.fa-magic
    h3 Magic
  .col-md-4
    i.fa.fa-5x.fa-bomb
    h3 TheBomb.com
    
.row.text-center
  .col-md-12
    .jumbotron
      p
        a.btn.btn-success.btn-lg(href="/releases")
          | Get it now
