.row.text-center
  .col-md-12
    h2 E-Mobile

.jumbotron.em-features
  .row.text-center.padding-20-0
    .col-md-4.feature
      i.fa.fa-diamond
      h3 Polished
    .col-md-4.feature
      i.fa.fa-magic
      h3 Magic
    .col-md-4.feature
      i.fa.fa-bomb
      h3 NB

.row.text-center
  .col-md-12
    p
      a.btn.btn-success.btn-lg(href="/releases")
        | Get it now
