.row.text-center
  .col-md-12
    h2 Available Electron Apps
      
.row.text-center.padding-20-20
  .col-md-3(data-ng-repeat='app in DataService.data')
    a.btn.btn-default(href="/{{ app.name }}/releases")
      | {{ app.description }}
